# for projects that use SCons for building: http://http://www.scons.org/
.sconsign.dblite

build/
bin/

_train_logs/
_pretrain_logs/
MNIST/
lightning_logs/

cereal/tmp/

src/hello
src/nvencoder
src/camerad
src/encoderd
src/loggerd

# When configure fails, SCons outputs these
config.log
.sconf_temp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Python
*.pyc
*.pyo

# Executables
*.exe
*.out
*.app

*.tmp
*.h264
*.h265
*.mkv
*.hevc