# For reading and writing capnp definitions
pycapnp

# For building the cereal submodule
scons

# For implementing the backend
fastapi

# For serving the backend
uvicorn

# For making the --reload option of uvicorn work nicely
watchfiles

# For unittesting fastapi
requests

# For receiving files in fastapi
python-multipart

# For sending out image frames for debugging on the webui
pypng

# For keeping process titles neat when running in realtime mode
setproctitle

# For watching logs being written live
inotify_simple

# For the realtime stuff to talk to the logservice
requests

# To log the reuslts of training runs
wandb

# For yolov7 plotting
seaborn

# To make it easier to rearrange dimensions and such of tensors
einops

# For exporting models to ONNX, as preparation for TensorRT export
onnx

# We only use ONNX as an intermediate format between PyTorch and TensorRT, but
# we occasionally want to check that the PT and ONNX models are equivalent.
onnxruntime