# For reading and writing capnp definitions
pycapnp

# For implementing the backend
fastapi

# For serving the backend
uvicorn

# For unittesting fastapi
requests

# For receiving files in fastapi
python-multipart
