{% extends "base.html" %}

{% block page %}
    <ul>
        {% for group in log_groups %}
            <li>{{ group[0].filename }}</li>
        {% endfor %}
    </ul>
    <div class="padding"></div>
    <table>
        <thead>
        <tr>
            <th>index</th>
            <th>type</th>
            <th>size</th>
            <th>json</th>
        </tr>
        </thead>
        <tbody>
            {% for data in logdata %}
                <tr>
                <td>{{ data. index }}</td>
                <td>{{ data.which }}</td>
                <td>{{ data.total_size_bytes | filesizeformat }}</td>
                <td><pre class="jsondata"></pre></td>
                </tr>
            {% endfor %}

            <script>
                async function onRowClick(e) {
                    const response = await fetch('/logs/alphalog-2a5d8c22-2022-10-19-20_56.log/entry/32300');
                    const data = await response.json();

                    console.log(e);
                    console.log(data);
                    //e.target.closest("td.jsondata").innerText = data;
                    document.querySelectorAll("pre.jsondata").forEach(e => e.innerHTML = null)
                    e.target.closest("tr").querySelector("pre.jsondata").innerHTML = JSON.stringify(data, null, 2);
                }

                document.querySelectorAll("tr").forEach(row => row.addEventListener("click", onRowClick));
            </script>
        </tbody>
    </table>
    <div class="padding"></div>
{% endblock %}